<div class="container">
    <div class="col">
        <div class="row">
            <div class="col">Id:</div>
            <div class="col">@Sample.Id</div>
        </div>
        <div class="row">
            <div class="col">Name:</div>
            <div class="col">@Sample.Name</div>
        </div>
        <div class="row">
            <div class="col">Value:</div>
            <div class="col">@Sample.Value</div>
        </div>
    </div>
</div>